.btn-container {
  display: flex;
  justify-content: space-around;
  height: 20px;
  margin: 35px;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__preview {
    height: 100%;
  }
}

.page-info {
  &__select {
    display: flex;
    justify-content: center;
    max-width: 200px;
    height: 50px;
    align-items: center;
  }

  & p {
    margin: 0;
  }

  & select {
    margin: 0;
  }
}

.container {
  & input {
    color: #333;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 200px;
  }

  & input:focus {
    outline: none;
  }
}

.autocomplete-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
