.youtube-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  margin: 5px;

  &:hover {
    transform: scale(1.02);
  }

  &__description {
    text-align: left;
    margin: 0 20px;
    overflow: hidden;

    & p {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & figure {
    margin: 10px;
  }
}